.container {
    height: 100vh;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.mobileImg{
    position: relative;
    width: 100%;
}

.list {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.email {
    height: 30px;
    margin-top: 5px;
    width: 100%;
}

.error {
    margin-left: 20px;
    color: red;
}