.introPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 850px) {
    .introPage {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 300px;
        margin-left: 25%;
        text-align: center;
        justify-content: center;
    }

    .blob {
        margin-right: 10%;
    }

    .bottom-nav {
        display: none;
    }
}

.wavy-outline {
    display: inline-block;
    padding: 10px;
    border: 8px solid transparent;
    border-image-slice: 50%;
    border-image-repeat: round;
    background-color: transparent;
}

.blob svg {
    background-color: transparent;
}

.content {
    color: white;
    position: absolute;
    left: 5%;
    top: 15%;
    width: 50%;
    border-radius: 10%;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#writing {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
}

.blob {
    position: absolute;
    right: 10%;
    top: 10%;
    display: block;
    width: 300px;
    height: auto;
    clip-path: ellipse(300px 140px at 20% 50%);
    background-color: transparent;
}

.icon-container {
    display: flex;
}

.icon-container .icon {
    height: 40px;
    width: 40px;
    margin: 20px;
    cursor: pointer;
}

.bottom-nav {
    position: absolute;
    height: 20px;
    display: flex;
    top: 85%;
    width: 100%;
    justify-content: space-around;
    text-decoration: underline;
}

.bottom-nav p {
    color: white;
    font-size: 35px;
}

button {
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
}