.introPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #0A1828;
}

@media (max-width: 850px) {
    .introPage {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 300px;
        margin-left: 25%;
        text-align: center;
        justify-content: center;
    }

    .blob {
        margin-right: 10%;
    }

    .top-nav {
        display: none;
    }
}

.wavy-outline {
    display: inline-block;
    padding: 10px;
    border: 8px solid transparent;
    border-image-slice: 50%;
    border-image-repeat: round;
    background-color: transparent;
}

.blob svg {
    background-color: transparent;
}

.content {
    color: black;
    position: absolute;
    left: 5%;
    top: 25%;
    width: 50%;
    border-radius: 10%;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#writing {
    background-color: transparent;
    color: #BFA181;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    color: white
}

.blob {
    position: absolute;
    right: 10%;
    top: 20%;
    display: block;
    width: 300px;
    height: auto;
    clip-path: ellipse(300px 140px at 20% 50%);
    background-color: transparent;
}

.icon-container {
    display: flex;
    background-color: #0A1828;
}

.icon-container .icon {
    height: 40px;
    width: 40px;
    margin: 20px;
    cursor: pointer;
    background-color: transparent;
}

.top-nav {
    background-color: #178582;
    position: absolute;
    height: 20px;
    display: flex;
    top: 10%;
    width: 50%;
    justify-content: space-around;
    background-color: transparent;
}

.top-nav p {
    color:#178582;
    font-size: 35px;
    text-decoration: none;
}

.top-nav button:hover {
    color: #178582;
}

button {
    color: #BFA181;
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.resume {
    margin-top: 5%;
    border: 1px solid #BFA181;
    padding: 2%;
    border-radius: 10px;
}

.resume:hover {
    color: #0A1828;
    background-color: #BFA181;
}