.experiencePage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* divides the grid into three equal columns */
    grid-template-rows: 1fr 1fr 1fr; /* divides the grid into three equal rows */
    justify-content: center;
    height: 80%;
    width: 80%;
    top: 20%;
    right: 10%;
    left: 10%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #BFA181;
}

.card:hover {
    background-color: red;
}


