.experiencePage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 8%;
}

.container h1 {
    margin-bottom: 2%;
    color: #BFA181;

}

.mainImg {
    width: 60%;
    height: 100%;
    border-radius: 15px;
}

.project {
    display: flex;
    width: 80%;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-left: 5%;
    color: #BFA181;
}

.description a {
    color: #378582;
}

.description h2 {
    margin-top: 40%;
    margin-bottom: 5%;
}

.description p {
    display: flex;
    text-align: center;
    width: 90%;
    margin-bottom: 10%;
}

.arrows {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 80%;
    height: 15%;
}

.arrows img {
    background-color: #BFA181;
    border-radius: 100%;
    width: 10%;
    padding: 2%;
    cursor: pointer;
}