.app {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0;
}

.sideBar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

.blur {
    width: 75%;
    position: fixed;
    filter: blur(5px);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.vehicle {
    scroll-snap-align: start;
}